Options -Indexes
RewriteEngine on
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization},L]
<Files "processqueue.php">
Order allow,deny
Deny from all
</Files>
<Files "regenerate.php">
Order allow,deny
Deny from all
</Files>
<Files "config.json">
Order allow,deny
Deny from all
</Files>
<Files "tokens.json">
Order allow,deny
Deny from all
</Files>
